html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.side-image {
	padding: 5px 10px;
}

.article img {
	max-height: 55vh;
	margin: 0 auto;
	display: block;
}

.article blockquote {
	padding: .875em;
}

.mud-markdown-body .snippet-clipboard-content {
	margin-bottom: 1em;
}

code[class*="language-"], pre[class*="language-"] {
	font-size: .875em;
	max-height: 35em;
}

.adsbygoogle > div, .adsbygoogle > div > iframe {
	width: 100% !important;
}

.loading-progress {
	position: relative;
	display: block;
	width: 8rem;
	height: 8rem;
	margin: 20vh auto 1rem auto;
}

	.loading-progress circle {
		fill: none;
		stroke: #e0e0e0;
		stroke-width: 0.6rem;
		transform-origin: 50% 50%;
		transform: rotate(-90deg);
	}

		.loading-progress circle:last-child {
			stroke: #1b6ec2;
			stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
			transition: stroke-dasharray 0.05s ease-in-out;
		}

.loading-progress-text {
	position: absolute;
	text-align: center;
	font-weight: bold;
	inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

	.loading-progress-text:after {
		content: var(--blazor-load-percentage-text, "Loading");
	}

/* Hero section */
.hero {
	padding: 3rem 1rem;
	background: radial-gradient(circle at top left, rgba(95,127,255,0.3), transparent 60%), radial-gradient(circle at bottom right, rgba(0,194,255,0.3), transparent 60%);
	border-radius: 24px;
	margin-bottom: 2rem;
	backdrop-filter: blur(4px);
}

.scroll-to-top {
	width: 64px;
	height: 64px;
	bottom: 96px;
	z-index: 10000;
}

.scroll-to-top-fab {
	width: 64px;
	height: 64px;
}

.notfound {
	text-align: center;
	border-radius: 24px;
}

.mud-chip {
	height: auto !important;
	padding: 7px;
}

.mud-chip-content {
	text-wrap: auto;
}
