@inherits VladislavAntonyukBaseComponent

<MudDialog DisableSidePadding="true">
    <DialogContent>
        <MudContainer Style="max-height: 90vh; overflow-y: scroll">
	        <div class="article">
		        <MudText Align="Align.Justify">
			        <ArticleRenderer Content="@Content"/>
		        </MudText>
	        </div>
        </MudContainer>
    </DialogContent>
</MudDialog>